html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#container{
    background-color: black; border-radius: 8%;
    margin-left:42%;
    margin-right:42%;
    height: 300px;
}
#displaycont{
    height:30%;
    text-align: right;
}
#keyboard{
    height:70%;
}
.btncont{
    height:19%;
    margin-top:1%;
}






    

button{
    height: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    width:23%;

    margin-left:0.9%;
    margin-right:0.9%;  
    border-radius: 50%;
}
.op{
   background-color: rgb(241, 147, 38); 
    color: white;
}
.ext{
    background-color: rgb(204, 204, 204);
    color: rgb(65, 64, 64);
}
.number{
    color: white;
    background-color: rgb(65, 64, 64);
}
#zero{
    width:47.6001%;
    border-radius: 4rem;
}
#displaycont>div{
    height:50%;
}